certifi==2022.5.18.1
click==8.1.3
joblib==1.2.0
matplotlib-inline==0.1.3
nltk==3.7
numpy==1.22.4
pandas==1.4.2
prompt-toolkit==3.0.29
py4j==0.10.9
Pygments==2.12.0
pyspark==3.1.2
python-dateutil==2.8.2
pytz==2022.1
regex==2022.4.24
spark-nlp==3.4.3
spark-nlp-jsl==3.5.1
tqdm==4.64.0
traitlets==5.2.2.post1
